:root {
  width: 100%;
  height: 100%;
}

.table-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table-container table {
  width: 100%;
  margin: 20px 0 20px 0;
  border-collapse: collapse;
  border: 1px solid black;
}

.table-container th,
td {
  padding: 15px;
  text-align: left;
}
.table-container td {
  border-left: 1px solid black;
}

.table-container tr {
  border-bottom: 1px solid black;
}

.table-container th {
  font-weight: bold;
  border: 1px solid black;
}

.table-search-container {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-items: start;
  flex-wrap: wrap;
}

.table-search-container input {
  width: auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
}

.table-filter-container {
  display: flex;
  gap: 30px;
  width: auto;
  justify-items: start;
  flex-wrap: wrap;
}

.table-pagination {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: end;
  justify-items: end;
}

.table-pagination-button {
  padding: 5px;
  font-size: large;
}

.table-pagination-select {
  padding: 5px 10px;
  margin: 0 5px;
}

.table-footer tr td {
  font-weight: bold;
}
