@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

:root {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* line-height: 1.5; */

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    109.6deg,
    rgb(0, 0, 0) 11.2%,
    rgb(11, 132, 145) 91.1%
  );
}

.dataTable-container {
  width: 90%;
  margin: 0 auto;
  /* overflow-x: auto; */
  padding: 20px;
  margin-top: 20px;
}

table {
  width: 100%;
  margin: 20px 0 20px 0;
  border-collapse: collapse;
  /* background: linear-gradient(
    109.6deg,
    rgb(0, 0, 0) 11.2%,
    rgb(11, 132, 145) 91.1%
  ); */
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* From https://css.glass */
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
td {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

th {
  background: rgba(255, 255, 255, 0.1);
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

th:hover {
  background: rgba(255, 255, 255, 0.2);
  transition: background 0.3s ease;
}

.table-row:hover {
  background: rgba(255, 255, 255, 0.2);
  transition: background 0.3s ease;
}
